<section>
    <nav class="flex">
        <div>
            <ul>
                <li class="links flex curvCor">
                    <a class="curvCor" routerLink="dashboard" routerLinkActive="active" title="Dashboard">
                        <mat-icon>grid_view</mat-icon>
                    </a>
                </li>
                <li class="links flex curvCor">
                    <a class="curvCor" routerLink="newSchool" routerLinkActive="active" title="Create Account">
                        <mat-icon>add_circle</mat-icon>
                    </a>
                </li>
                <li class="links flex curvCor"><a class="curvCor" href="" title="View Account Details">
                    <mat-icon>wysiwyg</mat-icon>
                </a></li>
                <li class="links flex curvCor"><a class="curvCor" href="" title="Resolve Issues">
                    <mat-icon>error</mat-icon>
                </a></li>
                <li class="links flex curvCor"><a class="curvCor"routerLink="createPin" title="Create Pin">
                    <mat-icon>pin</mat-icon>
                </a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="links flex curvCor"><a class="curvCor" routerLink="login" title="Settings">
                    <mat-icon>settings</mat-icon>
                    </a></li>
                <li class="links flex curvCor"><a class="curvCor" href="" title="Log Out">
                    <mat-icon>logout</mat-icon>
                    </a></li>
            </ul>
        </div>
    </nav>

</section>