<section style="height: 100%;
place-items: baseline;" class="pad flex">
    <div style="width:100%">
        <ul class="flex" style="  margin-bottom: 2em; place-content: space-around;">
            <!-- <li>
                <button class="box" mat-button></button>
            </li> -->
            <li>
                <button class="box" (click)="goto('newSchool')" mat-button>
                    <div>
                        <H5>Create New School</H5>
                   <hr> </div>
                    <div>
                        <mat-icon>person_round</mat-icon>
                    </div>
                    <div></div>
                </button>
            </li>
            <li>
                <button class="box" (click)="goto('newSchool')" mat-button>
                    <div>
                        <H5>Create New School</H5>
                   <hr> </div>
                    <div>
                        <mat-icon>person_round</mat-icon>
                    </div>
                    <div></div>
                </button>
            </li>
            <li >
                <button class="box"  (click)="goto('createPin')"   mat-button>
                    <div>
                        <H5>Create Pin</H5>
                    <hr></div>
                    <div>
                        <mat-icon>pin</mat-icon>
                    </div>
                    <div></div>
                </button>
            </li>
           
            <li >
                <button class="box"  (click)="goto('createPin')"   mat-button>
                    <div>
                        <H5>Create Pin</H5>
                    <hr></div>
                    <div>
                        <mat-icon>pin</mat-icon>
                    </div>
                    <div></div>
                </button>
            </li>
        </ul>
        <!-- <ul class="flex" style="  margin-bottom: 2em; place-content: space-around;">
            <li>
                <button class="box" mat-button><div>
                    <H5>Create Pin</H5>
                </div>
                <div>
                    <mat-icon></mat-icon>
                </div>
                <div></div></button>
            </li>
            <li>
                <button class="box" mat-button></button>
            </li>
            <li>
                <button class="box" mat-button></button>
            </li>
            <li>
                <button class="box" mat-button></button>
            </li>
        </ul> -->
        <!-- <ul style="    place-content: space-around; margin-bottom: 2em;" class="flex">
            <li>
                <button class="box" mat-button></button>
            </li>
            <li>
                <button class="box" mat-button></button>
            </li>
            <li>
                <button class="box" mat-button></button>
            </li>
            <li>
                <button class="box" mat-button></button>
            </li>
        </ul> -->
    </div>
</section>