<section style="height: 100%;" class="flex ">
    <div class="curvCor" style="height: fit-content; padding: 2em; background-color: white;">
        <form [formGroup]="addSubClassForm" (ngSubmit)="addSubClass()">
            <mat-form-field>
                <mat-label for="class">Class</mat-label>

                <mat-select placeholder="class" formControlName="class">
                    <mat-option *ngFor="let class of classes" [value]="class.className">
                        {{ class.className }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br><mat-form-field>
                <mat-label>Class Suffix</mat-label>
                <input style="color:black;" matInput formControlName="cName" id="name" type="text">
                <mat-hint>A, Science, Commercial B</mat-hint>
            </mat-form-field>
            <br>
            <button style="float:right;" mat-raised-button color="primary">add sub class</button>
        </form>

    </div>
</section>

<section class="loader-cont flex" *ngIf="loader">
    <div class="loader-wrapper flex">
        <img src="../../assets/imgs/loader.gif" alt="">
    </div>
</section>